{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tomasz Kaczmarczyk - TaskiDoo!">
    <title>TaskiDoo - PM Tool</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

    <form hx-post="{% url 'todo_apps:edit_task'  task.id %}">
        {% csrf_token %}
        
        <div class="modal-header">
            
          <h5 class="modal-title">Edit Task</h5>          
          <span class="closeX">&times;</span>
        </div>
        <div class="modal-body overflow-auto pb-4">
          <div class="form-check mt-2">
            <strong>Mark as completed</strong>
            {% render_field form.status|attr:"type:checkbox" class="form-check-input" id="flexCheckDefault"  %}
          </div>

            <div class="form-group mt-4">
              <strong>Title: </strong>
              {% render_field form.text_title class="form-control mt-3 form-control-sm" style="max-height: 150px;" %}
            </div>  

            <div class="form-group mt-4">
              <strong>Description: </strong>
              {% render_field form.text_desc class="form-control mt-3 form-control-sm" style="max-height: 110px;" %}
            </div>  

            <div class="form-group mt-4">
              <strong>Comment: </strong>
              {% render_field form.comment class="form-control mt-3 form-control-sm" style="max-height: 80px;" %}  
            </div>  

            <div class="d-flex bd-highlight">
            <div class="form-group mt-4 bd-highlight">  
              <strong>Due Date: </strong>
              {% render_field form.date_due|attr:"type:date" class="form-control mt-3 form-control-sm" style="max-width: 150px;" %}
            </div>
            <div class="form-group mt-4 bd-highlight" style="margin-left: 2.5rem;">
              <strong>Assigned To: </strong>
              {% render_field form.owner|attr:"select" class="form-control mt-3 form-control-sm" %}
            </div>
            {% if request.user.is_superuser %}
            <div class="form-group mt-4 bd-highlight" style="margin-left: 2.5rem;">
              <strong>Project: </strong>
              {% render_field form.project|attr:"select" class="form-control mt-3 form-control-sm" %}
            </div>
            {% endif %}
            </div>

        </div>

        <div class="modal-footer d-flex bd-highlight">
            <div class="flex-grow-1 bd-highlight">
              <button class="btn btn-danger" id="delete-task-prevent">Delete</button>
              <button class="btn btn-danger" id="delete-task" hx-post="{% url 'todo_apps:delete_task' task.id %}">Delete</button>
            </div>   
            <div class="bd-highlight">
                <button class="d-inline btn btn-secondary" id="cancel-task">Cancel</button>
            </div>
            <div class="bd-highlight">    
                <button class="d-inline btn btn-success" id="save-edit-task" type="submit">Confirm</button>
            </div>   
        </div>
      </form>

<!-- JS -->
<script src="{% static 'js/edit_task.js' %}" type="text/javascript"></script>

