{% load bootstrap5 %}
{% bootstrap_css %}
{% load widget_tweaks %}

{% comment %}     <p>Add new task:</p>
    <form method='post' action="{% url 'todo_apps:new_task' %}">
        {% csrf_token %}
        {{ form }}
        <button name="submit">Add</button>
    </form>   {% endcomment %}  

    <form hx-post="{% url 'todo_apps:new_task'  %}">
        {% csrf_token %}
        <div class="modal-header">
            
          <h5 class="modal-title">Add New Task</h5>
          
          
          <span class="close">&times;</span>
        </div>

        <div class="modal-body overflow-auto pb-4">
          
          <div class="form-group mt-4">
            <strong>Title: </strong>
            {% render_field form.text_title class="form-control mt-3 form-control-sm" style="max-height: 150px;" %}
          </div>  

          <div class="form-group mt-4">
            <strong>Description: </strong>
            {% render_field form.text_desc class="form-control mt-3 form-control-sm" style="max-height: 110px;" %}
          </div>  

          <div class="form-group mt-4">
            <strong>Comment: </strong>
            {% render_field form.comment class="form-control mt-3 form-control-sm" style="max-height: 80px;" %}  
          </div>  

          <div class="d-flex bd-highlight">
            <div class="form-group mt-4 bd-highlight">  
              <strong>Due Date: </strong>
              {% render_field form.date_due|attr:"type:date" class="form-control mt-3 form-control-sm" style="max-width: 150px;" %}
            </div>
            <div class="form-group mt-4 bd-highlight" style="margin-left: 2.5rem;">
              <strong>Assigned To: </strong>
              {% render_field form.owner|attr:"select" class="form-control mt-3 form-control-sm" %}
            </div>
            {% if request.user.is_superuser %}
            <div class="form-group mt-4 bd-highlight" style="margin-left: 2.5rem;">
              <strong>Project: </strong>
              {% render_field form.project|attr:"select" class="form-control mt-3 form-control-sm" %}
            </div>
            {% endif %}
          </div>

      </div>

        <div class="modal-footer d-flex justify-content-end">
            <button class="d-inline btn btn-secondary" id="cancel-task">Cancel</button>
            <button class="btn btn-success" id="confirm-task" type="submit">Confirm</button>
        </div>
      </form>

      <script>
        // Get the success alert  

        var alertSuccess = document.getElementById("alertSuccess");

        // Get alertText

        var alertText = document.getElementById("alertText");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        // Get the button save
        var confirmBtn = document.getElementById("confirm-task")

        confirmBtn.onclick = function() {
            alertSuccess.style.display = "block";
            alertText.innerHTML = "Task has been added!"
            setTimeout(() => {window.location.reload(true)}, 1800);
        }
                // Get the button cancel
        var cancelBtn = document.getElementById("cancel-task")

        cancelBtn.onclick = function() {
            modal.style.display = "none";
        }




    </script>