{% load bootstrap5 %}
{% bootstrap_css %}
{% load widget_tweaks %}

{% block content %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'todo_apps:index' %}"><i><b>TaskiDoo</i>!</b></a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"></a>
            </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Switch account</a>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
          </li>
      </ul>
      <ul class="navbar-nav me-0 mb-5 mb-lg-0">
      {% if user.is_authenticated %} 
      <li class="nav-item me-2">
      <a class="nav-link">Welcome, {{ user.username }}.</a>
      </li>   
      <li class="nav-item me-4">
          <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% else %}    
      <li class="nav-item me-4">
          <a class="nav-link" href="{% url 'users:login' %}">Login</a>
      </li>
      <li class="nav-item me-4">
          <a class="nav-link" href="{% url 'users:register' %}">Register</a>
      </li>
      </ul>
      {% endif %}
      </div>
  </div>
  </nav>

    <div class="form-control mt-5 p-4">
    <form style="margin: auto;" class="form-group text-center" hx-post="{% url 'users:change_password' %}">
        {% csrf_token %}
        
        <h5 class="font-weight-normal mb-3">Change your password</h5>

        <div class="form-group row mb-2">
          <label for="id_old_password" class="col-sm-2 col-form-label"><b>Old Password</b></label>
          <div class="col-sm-10">
            {% render_field form.old_password class="form-control" style='max-width: 400px;' type="password" placeholder="Enter Old Password" id="id_old_password" %}
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="id_new_password1" class="col-sm-2 col-form-label"><b>New Password</b></label>
          <div class="col-sm-10">
            {% render_field form.new_password1 class="form-control" style='max-width: 400px;' type="password" placeholder="Enter New Password" id="id_new_password1" %}
          </div>
        </div>

        <div class="form-group row mb-2">
            <label for="id_new_password2" class="col-sm-2 col-form-label"><b>New Password Confirmation</b></label>
            <div class="col-sm-10">
                {% render_field form.new_password2 class="form-control" style='max-width: 400px;' type="password" placeholder="Confirmation New Password" id="id_new_password2" %}
          </div>
        </div>


        <button class="btn btn-primary btn-block mt-3" name="submit">Update password</button>
    </form>
</div>

<script>

    function reloader() {
      setTimeout(() => {
        window.location.href="/users/profile"}, 1); 
    }
  </script>
    <!-- CSRF request in the headers -->

{% endblock content %} 
<script src="https://unpkg.com/htmx.org@1.7.0"></script> 

<script>
  document.body.addEventListener('htmx:configRequest', (e) => {
    e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>