{% extends "todo_apps/base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load widget_tweaks %}

{% block content %}
<style>
    #loader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid #3498db;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        display: none;
        margin-left: 50%;
      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
</style>    

<div id="loader"></div>

    <form id="auth-form" style="margin: auto; max-width:400px;" class="form-group text-center" hx-post="{% url 'users:register' %}">
        {% csrf_token %}
        <h1><a href="{% url 'todo_apps:index' %}" class="text-decoration-none text-dark">TaskiDoo</a></h1>
        <h5 class="font-weight-normal">Please enter login & password</h5>

        
        <div class="form-group mt-4">
                {% render_field form.email class="form-control" placeholder="Email" type="email" %}
        </div>
        <div class="form-group mt-4">
          {% render_field form.username class="form-control" placeholder="Login" type="text" %}
        </div>
        <div class="form-group mt-4">
          {% render_field form.first_name class="form-control" placeholder="First Name" type="text" %}
        </div>
        <div class="form-group mt-4">
          {% render_field form.last_name class="form-control" placeholder="Last Name" type="text" %}
        </div>
        <div class="form-group mt-4">
                {% render_field form.password1 class="form-control" placeholder="Password" type="password" %}
        </div>
        <div class="form-group mt-4">
                {% render_field form.password2 class="form-control" placeholder="Enter the same password" type="password" %}
        </div>

        <button class="btn btn-primary btn-lg btn-block mt-4" style="width: 400px; max-width:400px;" onclick="redirect()" name="submit">Register</button>
        <input type="hidden" name="next" value="{% url 'todo_apps:tasks' %}"/>
    </form>
</div>

<script>
    var loader = document.getElementById('loader')
    var form = document.getElementById('auth-form')

    function redirect() {
      form.style.display = "none";
      loader.style.display = "block"; 
      setTimeout(() => {
        window.location.href="/"}, 700); 
    }
  </script>
{% endblock content %} 